<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color" style="font-family: 'sans-serif';">
    <ion-title>CoroATE</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="font-family: 'sans-serif'; font-size: 1.3rem; font-weight: 400; line-height: 1.5; text-align: left;">
    <div style="text-align: center; padding: 20px;">
      {{Nombre}}
    </div>
    <div style="text-align: center;">
      <img src="assets/img/publicidad-coro2-mobile.jpg" alt="">
    </div>
    <div class="square" style="text-align: center;">
      <a href="https://open.spotify.com/artist/46rZRwiyh1IZq0KNn7YfDz?si=zxD9UQHOTfucuQMRDjZCIQ&dl_branch=1" target="_Blank"><img src="assets/img/LogoSpoty.png" alt="" height="80px" width="80px"></a>
    </div>
</ion-content>
