<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>Contactanos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="text-align: left;">

  <h1 style="text-align: center; font-size: 23px; padding: 10px;">¡Envianos tu mensaje!</h1>
  <h2 style="text-align: center;">contacto@coroate.cl</h2>

  <mat-label style="font-size: 20px; padding: 10px;">Email: </mat-label>
  <div>
    <mat-form-field appearance="fill" style="padding: 10px;">
      <input matInput >
    </mat-form-field>
  </div>

  <mat-label style="font-size: 20px; padding: 10px;">Asunto: </mat-label>
  <div>
    <mat-form-field appearance="fill" style="padding: 10px;">
      <input matInput>
    </mat-form-field>
  </div>

  <mat-label style="font-size: 20px; padding: 10px;">Comentario: </mat-label>
  <div>
    <mat-form-field appearance="fill" style="padding: 10px;">
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
  <div style="padding: 10px;">
    <ion-button >Enviar</ion-button>
  </div>
  
  <div style="padding: 20px;">
    <a href="https://www.youtube.com/c/CoroATEPastoralJuvenilSantaGema" style="color: #e20101;"><ion-icon name="logo-youtube" style="font-size: 50px; position: absolute; right: 70px;">Coro ATE</ion-icon></a>
    <a href="https://www.instagram.com/coro.ate" style="color: #e20101;"><ion-icon name="logo-instagram" style="font-size: 50px; position: absolute; left: 70px;">@coro.ate</ion-icon></a>
  </div>

</ion-content>

